<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3><%= @user.first_name %>, voici vos nouveaux matchings sur AlloAnim: </h3>

  <% @matches.each do |offer| %>

    <div><%= l offer.date.to_date, format: '%A' %><%= l offer.date.to_date, format: :long %>, <%= offer.time_slot %></div>
    <div><%= offer.school.name.titleize %></div>
    <div><%= offer.school.address %></div>
    <%= link_to "Voir l'offre", user_matching_offers_url(@user) %>

  <% end %>

  <br/> <br/>

</body>
</html>