<% # determine circonscription of current recruiter
   if center_signed_in?
     @circonscription = current_center.circonscription
   elsif rhagent_signed_in?
     @circonscription = current_rhagent.circonscription
   end

   @count_users = @users.where(:circonscription => @circonscription)
%>

<div class="container">
  <div class="col-md-12">
    <h2>Tous les Animateurs <%= @circonscription %> (<%= @count_users.count%>)</h2>
    <% @users.each do |animateur| %>
        <% if animateur.circonscription == @circonscription %>
          <div style="border: 1px solid lightslategray; padding: 10px; margin-bottom: 15px;">
          <div style="display: flex">
            <div class="manage-anim">
              <div>
                <%= link_to user_path(animateur), target: :_blank do %>
                    <strong><%= animateur.first_name %> <%= animateur.last_name %></strong><br />
                <% end %>
                <% if animateur.confirmed_at != nil %>
                    <div class="badge ">
                      email non confirmé
                    </div>
                    <br />
                <% else %>
                    <div class="badge butterscotch">
                      email confirmé
                    </div>
                    <br />
                <% end %>
                <%= animateur.email %> <br />
                <%= animateur.soi_number %> <br />
                <%= animateur.circonscription %> <br />

                <%= link_to 'Modifier', edit_user_path(animateur) %>
                <%= link_to 'Supprimer', animateur, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
              <div class="approve-btn">
                <% if animateur.approved %>
                    <%= link_to 'Mettre en attente de validation', user_approve_path(animateur, approved: false), method: :patch, class: "btn btn-turquoise" %>
                <% else %>
                    <%= link_to 'Valider', user_approve_path(animateur, approved: true), method: :patch, class: "btn btn-pink" %>
                <% end %>
              </div>
            </div>
          </div>

        </div>
        <% end %>
    <% end %>
  </div>
</div>