<div class="container">

  <div class="col-md-3">
    <div>Modifier le profil</div>
    <div>Photo</div>
    <div>Documents</div>
  </div>

  <div class="col-md-9 col-sm-12 form-flex">

    <%= form_for @user do |f| %>
        <div class="panel panel-default devise-bs">
          <div class="panel-heading">
            <div class="form-heading-title">Obligatoire</div>
          </div>
          <div class="panel-body">
            <div class="form-group required">
              <%= f.label :first_name, 'Prénom', class: 'control-label'%>
              <%= f.text_field :first_name, class: 'form-control', :required => true %>
            </div>
            <div class="form-group required">
              <%= f.label :first_name, 'Nom', class: 'control-label'%>
              <%= f.text_field :last_name, class: 'form-control', :required => true %>
            </div>
            <div class="form-group required">
              <%= f.label :birthday, 'Date de Naissance', class: 'control-label'%>
              <div class="select-date">
              <%= f.date_select :birthday, start_year: Time.current.year-16, end_year: 1950, class: 'form-control', id: 'birthday-date', placeholder: 'Date', :required => true %>
              </div>
            </div>
            <div class="form-group required">
              <%= f.label :phone_number, 'Numéro de téléphone', class: 'control-label'%>
              <%= f.text_field :phone_number, class: 'form-control', :required => true %>
            </div>
            <div class="form-group required">
              <%= f.label :soi_number, 'Numéro S.O.I', class: 'control-label' %>
              <%= f.text_field :soi_number, class: 'form-control', :required => true %>
            </div>
            <div class="form-group required">
              <%= f.label :diploma, 'Diplôme', class: 'control-label' %>
              <%= f.select :diploma, options_for_select(
                  [
                      ["Bafa", "Bafa"],
                      ["Bafa en cours", "Bafa en cours"],
                      ["Aucun diplôme", "Aucun diplôme"]
                  ]
              ), {include_blank: false}, {class: 'form-control'} %>
            </div>
            <div class="form-group required">
              <%= f.label :circonscription, 'Circonscription', class: 'control-label' %>
              <%= f.select :circonscription, options_for_select(
                  [
                      ["CASPE 6 14", "CASPE 6 14"]
                  ]
              ), {include_blank: false}, {class: 'form-control'} %>
            </div>
          </div>
        </div>
        <%= f.submit t('.update', default: 'Update'), class: 'btn btn-edit-form' %>
    <% end %>

  </div>

</div>
