<div class="container">


  <div class="col-md-10 col-md-offset-1">

    <h2>Mes matchings (<%= @matches.count %>)</h2>

    <% @matches.each do |offer| %>

        <div class="panel panel-default offers-item">
          <div class="offer-desc">
            <div class="offer-desc_school">
              <%= link_to school_path(offer[0].school) do %>
                  <div class="offer-desc_school_name"><%= offer[0].school.name.titleize %></div>
                  <div class="offer-desc_school_address"><%= offer[0].school.address %></div>
              <% end %>
            </div>
            <div class="offer-desc_date">
              <div class="offer-desc_date_day">
                <div><i class="fa fa-calendar-o "></i> <%= l offer[0].date.to_date, format: '%A' %> <%= l offer[0].date.to_date, format: :long %></div>

              </div>
              <div class="offer-desc_date_time_slot badge tealish"><i class="fa fa-clock-o fa-lg"></i> <%= offer[0].time_slot %></div>
              <% if offer[0].date.to_date == DateTime.now.to_date %>
                  <div class="offer-desc_date_urgent badge urgent"><i class="fa fa-exclamation fa-lg"></i> Urgent</div>
              <% end %>
              <div class="offer-tags">
                <div class="offer-tags_diploma <%= offer[0].diploma != "Aucun diplôme" ? "badge butterscotch" : "badge" %>">
                  <i class="fa fa-graduation-cap fa-lg"></i> <%= offer[0].diploma %>
                </div>
              </div>
            </div>

          </div>


          <% if user_signed_in? %>
              <div class="offer-apply">
                <div class="btn btn-pink" data-toggle="modal" data-target="#center-<%= offer[0].id %>">Postuler</div>
              </div>
              <!-- Modal -->
              <div class="modal fade" id="center-<%= offer[0].id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content offer-call-school">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Vacation du <%= l offer[0].date.to_date, format: '%A' %> <%= l offer[0].date.to_date, format: :long %>
                      </h4>
                      <div class="offer-desc_date_time_slot badge tealish"><i class="fa fa-clock-o fa-lg"></i> <%= offer[0].time_slot %></div>
                      <span class="offer-tags_diploma <%= offer[0].diploma=="Bafa" ? "badge butterscotch" : "badge" %>">
                      <i class="fa fa-graduation-cap fa-lg"></i> <%= offer[0].diploma %>
                    </span>
                      <% if offer[0].date.to_date == DateTime.now.to_date %> <span class="offer-desc_date_urgent badge urgent"><i class="fa fa-exclamation fa-lg"></i> Urgent</span>
                      <% end %>
                    </div>
                    <div class="modal-body">
                      <h4>Appelez directement le Centre de Loisirs pour postuler</h4>
                      <div>Ecole <%= offer[0].school.name.titleize %></div>
                      <div>
                        <div><%= offer[0].center.first_name %> <%= offer[0].center.last_name %> </div>
                        <div class="offer-call-number"><i class="fa fa-phone fa-lg tealish-font"></i> <a class="tealish-font" href="tel:<%= offer[0].center.phone_number %>"><%= offer[0].center.phone_number %></a></div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
    <% end %>

  </div>
</div>

<script>

    $(".offers-item")
        .mouseenter(function() {
            $(this).children(".offer-apply").css("opacity", "1");
        })
        .mouseleave(function() {
            $(this).children(".offer-apply").css("opacity", "0");
        })

</script>