<div class="container">

  <div class="col-md-3 ">
    <div class="filters_title">Filtrer les offres</div>
    <div class="filters_wrapper"></div>
  </div>

  <div class="col-md-9">

    <h2>Toutes les offres de vacation (<%= @offers.count %>)</h2>

    <% @offers.each do |offer| %>

        <div class="panel panel-default offers-list">
          <div class="offer-desc">
            <div class="offer-desc_school">
              <div class="offer-desc_school_name"><%= offer.school %></div>
              <div class="offer-desc_school_address">9 Rue Richomme, 75018 Paris</div>
            </div>
            <div class="offer-desc_date">
              <div class="offer-desc_date_day">
                <div><i class="fa fa-calendar-o "></i> <%= l offer.date.to_date, format: '%A' %> <%= l offer.date.to_date, format: :long %></div>

              </div>
              <div class="offer-desc_date_time_slot label label-info"><i class="fa fa-clock-o fa-lg"></i> <%= offer.time_slot %></div>
              <% if offer.date.to_date == DateTime.now.to_date %>
                  <div class="offer-desc_date_urgent label label-danger"><i class="fa fa-exclamation fa-lg"></i> Urgent</div>
              <% end %>
            </div>
          </div>

          <div class="offer-tags">
            <div class="offer-tags_diploma <%= offer.diploma=="Bafa" ? "label label-warning" : "label label-default" %>">
              <%= offer.diploma %>
            </div>
          </div>
          <% if user_signed_in? %>
            <div class="offer-apply">
              <div class="btn btn-pink" data-toggle="modal" data-target="#center-<%= offer.id %>">Postuler</div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="center-<%= offer.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Vacation du <%= l offer.date.to_date, format: '%A' %> <%= l offer.date.to_date, format: :long %>, <%= offer.time_slot %></h4>
                  </div>
                  <div class="modal-body">
                    <h5>Appeler le Centre de Loisirs de l'école <%= offer.school %> pour postuler</h5>
                    <div>
                      <%= offer.center.first_name %> <%= offer.center.last_name %> : <a href="tel:<%= offer.center.phone_number %>"><%= offer.center.phone_number %></a>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
        </div>
    <% end %>

  </div>
</div>