<div class="container">

  <div class="col-md-3 ">
    <div class="filters_title">Filtrer les offres</div>
    <div class="filters_wrapper"></div>
  </div>

  <div class="col-md-9">

    <h2>Toutes les offres de vacation</h2>

    <% @offers.each do |offer| %>

        <div class="panel panel-default offers-list">
          <div class="offer-desc">
            <div class="offer-desc_school">
              <div class="offer-desc_school_name"><%= offer.school %></div>
              <div class="offer-desc_school_address">9 Rue Richomme, 75018 Paris</div>
            </div>
            <div class="offer-desc_date">
              <div class="offer-desc_date_day">
                <div><i class="fa fa-calendar-o "></i> <%= l offer.date.to_date, format: '%A' %> <%= l offer.date.to_date, format: :long %></div>

              </div>
              <div class="offer-desc_date_time_slot label label-info"><i class="fa fa-clock-o fa-lg"></i> <%= offer.time_slot %></div>
              <% if offer.date.to_date == DateTime.now.to_date %>
                  <div class="offer-desc_date_urgent label label-danger"><i class="fa fa-exclamation fa-lg"></i> Urgent</div>
              <% end %>
            </div>
          </div>

          <div class="offer-tags">
            <div class="offer-tags_diploma <%= offer.diploma=="Bafa" ? "label label-warning" : "label label-default" %>">
              <%= offer.diploma %>
            </div>
          </div>
          <% if user_signed_in? %>
            <div class="offer-apply">
              <div class="btn btn-pink">Postuler</div>
            </div>
          <% end %>
        </div>
    <% end %>

  </div>
</div>