<div class="container">
  <div class="col-md-10 col-md-offset-1">

    <h2>Toutes les offres de vacation (<%= @offers.count %>)</h2>

    <% @offers.each do |offer| %>

        <div class="offer">
          <div class="offer-school">
            <%= link_to school_path(offer.school) do %>
                <div class="offer-school-name"><%= offer.school.name.titleize %></div>
                <div class="offer-school-address"><%= offer.school.address %></div>
            <% end %>
          </div>
          <div class="offer-content">
            <div class="offer-content-date">
              <i class="fa fa-calendar-o"></i> <%= l offer.date.to_date, format: '%A' %> <%= l offer.date.to_date, format: :long %>
            </div>
            <% offer.slots.each do |slot|  %>
              <div class="offer-content-timeslot badge tealish">
                  <i class="fa fa-clock-o fa-lg"></i> <%= slot.name %>
                </div>
            <% end %>
            <% if offer.date.to_date == DateTime.now.to_date %>
                <div class="offer-content-urgent badge urgent">
                  <i class="fa fa-exclamation fa-lg"></i> Urgent
                </div>
            <% end %>
            <div class="offer-tags">
              <% offer.diplomas.each do |diploma|  %>
                  <div class="offer-tags-diploma <%= diploma.name != "Aucun diplôme" ? "badge butterscotch" : "badge" %>">
                    <i class="fa fa-graduation-cap fa-lg"></i><%= diploma.name %>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>

  </div>
</div>