<div class="container">
  <div class="col-md-12">
    <h2>Ecole <%= @school.name %></h2>

    <div>Adresse: <%= @school.address %></div>
    <div>Circonscription: <%= @school.circonscription %></div>
    <div>Rev: <%= @center.email %></div>
    <br/><br/>
    <div><%= image_tag "ecole_richomme.png", style: 'height:auto;width:100%;'%></div>
  </div>
</div>
