<!DOCTYPE html>
<html>
  <head>
    <title>AlloAlloAnim</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= current_page?(root_path) ? 'home_page' : '' %>">

    <%= render 'layouts/navigation' %>


    <%= render 'layouts/messages' %>
    <%= yield %>
    </div>

  </body>
</html>
