<div class="container">

  <div class="col-md-6 col-sm-12 col-md-offset-3">
    <%= bootstrap_devise_error_messages! %>
    <h2 class="form-title text-center">S'inscrire (Animateur)</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form' }) do |f| %>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Adresse e-mail' %>
        </div>
        <div class="form-group form-double-field">
          <%= f.text_field :first_name, class: 'form-control', placeholder: 'Prénom' %>
          <%= f.text_field :last_name, class: 'form-control', placeholder: 'Nom' %>
        </div>
        <div class="form-group">
          <%= f.text_field :soi_number, class: 'form-control', placeholder: 'Numéro SOI' %>
        </div>
        <div class="form-group">
          <%= f.text_field :phone_number, class: 'form-control', placeholder: 'Numéro de téléphone' %>
        </div>
        <div class="form-group required">
          <%= f.label :circonscription, 'Circonscription', class: 'control-label' %>
          <%= f.collection_select :circonscription, Circonscription.all, :name, :name, {}, { class: 'form-control' } %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, class: 'form-control', placeholder: 'Créer un mot de passe'%>
        </div>
        <div class="form-group">
          <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirmer le mot de passe' %>
        </div>
        <%= f.submit t('.sign_up', default: 'Inscription'), class: 'btn btn-registration-form' %>
    <% end %>
    <h4 class="sign-links text-center">Vous avez déjà un compte ? <%= link_to "Se connecter", user_session_path, method: :get %></h4>
  </div>

</div>
